.wrapp {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid red;
  flex-direction: column;
  flex: 2 1 auto;
}

.container {
  display: flex;
  flex-direction: row;
}
.board {
  min-width: 300px;
  min-height: 300px;
  border: 5px solid lightgray;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item {
  width: 100%;
  border: 2px solid lightpink;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: grab;
  background-color: #fcfcf9;
}
